.content-page {
    margin-left: 0;
    margin-top: 0;
    padding: 0;
}
.container-fluid {
    --bs-gutter-x: 0;
  }
  span, li >a {
    font-size: 12px !important;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .topbar {
    height: 50px;
    line-height: 50px;
    vertical-align: middle !important;
    background-color: #1d1d1fb8;
  }
  .stream {
    height: 30px;
    margin-top: 10px;
    line-height: 2.4;
    border-radius: 15px;
  }
  a {
    text-decoration: none;
  }
  .fs {
    font-size: 14px;
  }